@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

::-webkit-scrollbar {
    width: 12px; 
}

::-webkit-scrollbar-track {
    background: #f1f1f1; 
} 

::-webkit-scrollbar-thumb {
    background-color: var(--big-color); 
    border-radius: 6px; 
    border: 3px solid #f1f1f1; 
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--text-color); 
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}

:root {
    --big-color: #0092DE;
    --text-color: #000000;
    --second-color: #ffffff;
    --main-color: #D9D9D9;
    --big-font: 3.8rem;
    --h2-font: 2.6rem;
    --p-font: 1.1rem;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--second-color);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 23px 3%;
    transition: all .40s ease;
}

.logo img {
    height: auto;
    width: 100px;
    max-width: 100%;
}



.button a {
    color: var(--second-color);
    background: #0092DE;
    padding: 20px 30px;
    border: none;
    border-radius: 2px;
    font-size: 14px;
    font-weight: 300;
    cursor: pointer;
}

.button a:hover {
    color: var(--second-color);
    background: var(--text-color);
    transition: all .4s ease;
}

.waste {
    width: 100%;
    height: 100vh;
    padding: 120px 40px;
}

.waste-title h2 {
    font-size: 42px;
    color: #0092DE;
    font-weight: 300px;
    padding-bottom: 15px;
    text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.waste-title p {
    font-size: 16px;
    margin-bottom: 15px;
}

.waste-form {
    display: grid;
    grid-template-columns: 200px 500px;
    gap: 250px;
    padding-top: 20px; 
}
.waste-img img{
   height: 100%;
   width: 400px;
}

.form-group {
    margin: 20px;
}

.form-group input[type=text] {
    width: 800px;
    height: 40px;
    margin-top: 20px;
    border: 2px solid #0092DE;
    border-radius: 5px;
    padding-left: 10px;
}

.form-group label {
    font-size: 16px;
    margin-bottom: 40px;
}

.form-group textarea {
    margin-top: 20px;
    width: 800px;
    height: 200px;
    border: 2px solid #0092DE;
    border-radius: 5px;
    padding: 10px;
}

.form-group button {
    border: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 15px 120px;
    margin-left: 250px;
    color: #fff;
    background: #0092DE;
    border-radius: 5px;
}

.form-group button:hover {
    color: #fff;
    background: #000;
}